/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

// AFTER CSS RESET //
body {
	background-color: #0F172A;
	color: #E2E8F0;
  font-family: 'Inter', sans-serif;
}

#root {
	display: flex;
	justify-content: center;
}

#main {
	display: flex;
	max-width: 1280px;
	padding: 0 6rem;
	width: 100vw;
}

// LEFT SIDE //
#bio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100vh;
	padding: 6rem 0;
	position: sticky;
	top: 0;
	width: 50%;

	h1 {
		margin-left: -.35rem;
		font-size: 48px;
		font-weight: 700;
	}

	h2 {
		font-size: 20px;
		margin: 1em 0;
	}

	p {
		color: #94A4B8;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5em;
		max-width: 20em;
	}
}

#nav {
	color: #64758B;
	font-size: 12px;
	font-weight: 700;
  letter-spacing: .2em;
}

.social-icon {
	fill: #94A4B8;
	margin-right: 1rem;
	stroke: #94A4B8;
}

.social-icon:hover {
	cursor: pointer;
	fill: #E2E8F0;
	stroke: #E2E8F0;
}

// RIGHT SIDE //
#content {
	color: #94A4B8;
	flex: 1;
	line-height: 1.5rem;
	padding: 6rem 0;
	width: 50%;
}

.project-pic {
	border-radius: 3px;
	width: 100px;
}
