/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

// AFTER CSS RESET //
:root {
	--text-color: #94A4B8;
	--nav-text-color: #64758B;
	--bg-color: #0F172A;
	--highlight-color: #E2E8F0;
	--color-pop: #5EEAD3;
	--color-pop-contrast: #114E4A;
}

::selection {
	background-color: var(--color-pop);
	color: var(--color-pop-contrast);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	color: var(--highlight-color);
  font-family: 'Inter', sans-serif;
}

#root {
	display: flex;
	justify-content: center;
}

#main {
	display: flex;
	max-width: 1280px;
	padding: 0 6rem;
	width: 100vw;
}

// LEFT SIDE //
#bio {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100vh;
	padding: 6rem 0;
	position: sticky;
	top: 0;
	width: 50%;

	h1 {
		margin-left: -.35rem;
		font-size: 3rem;
		font-weight: 700;
	}

	h2 {
		font-size: 20px;
		margin: 1rem 0 .75rem;
	}

	p {
		color: var(--text-color);
		font-size: 16px;
		font-weight: 300;
		line-height: 1.5;
		max-width: 20rem;
	}
}

#nav {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	font-weight: 700;
  letter-spacing: .2rem;

	a {
		align-items: center;
		color: var(--nav-text-color);
		display: flex;
		padding: .75rem 0;
		text-decoration: none;
		width: 40%;

		&:hover {
			cursor: pointer;
			color: var(--highlight-color);

			.nav-line {
				background-color: var(--highlight-color);
				width: 4rem;
			}
		}
	}
}

.nav-line {
	background-color: var(--nav-text-color);
	height: 1px;
	margin-right: 1rem;
	transition: width .2s;
	width: 2rem;
}

.nav-select {
	.nav-line {
		background-color: var(--highlight-color);
		width: 4rem;
	}

	.nav-text {
		color: var(--highlight-color);
	}
}

.social-icon {
	fill: var(--text-color);
	margin-right: 1.25rem;
	stroke: var(--text-color);

	&:hover {
		cursor: pointer;
		fill: var(--highlight-color);
		stroke: var(--highlight-color);
	}
}

// RIGHT SIDE //
#content {
	color: var(--text-color);
	flex: 1;
	line-height: 1.5;
	padding: 6rem 0;
	width: 50%;
}

.project-pic {
	border-radius: 3px;
	width: 100px;
}

#about {
	margin-bottom: 9rem;
	scroll-margin-top: 6rem;
}

#projects {
	margin-bottom: 9rem;
	scroll-margin-top: 6rem;
}

#experience {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin-bottom: 6rem;
	scroll-margin-top: 6rem;
}

.exp-link {
	color: var(--text-color);
	text-decoration: none;
}

.exp-card {
	display: flex;

	span {
		color: var(--nav-text-color);
		font-size: .75rem;
		font-weight: 600;
		height: 100%;
		letter-spacing: .025rem;
		margin-top: .25rem;
		width: 80%;
	}

	h3 {
		color: var(--highlight-color);
		margin-bottom: .75rem;
	}

	.exp-title-icon {
		margin-left: .25rem;
		margin-bottom: -.25rem;
		transition: margin-left 0.2s ease, margin-bottom 0.2s ease;
	}

	p {
		line-height: 1.5;
		font-size: .875rem;
	}

	&:hover {
		cursor: pointer;

		h3 {
			color: var(--color-pop);
		}

		.exp-title-icon {
			margin-left: .6rem;
			margin-bottom: .1rem;
		}
	}
}

footer {
	color: var(--nav-text-color);
	font-size: .875rem;
	line-height: 1.25;
}